#root {
  margin: 0 auto;
  text-align: center;
  background-color: white;
  width: 100vw;
  overflow: hidden;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.movingImage {
  position: absolute;
  right: 0;
  animation: moveLeftRight 15s ease-in-out infinite;
  z-index: -1;
  bottom: 0;
}

@keyframes moveLeftRight {
  0% {
    right: 0;
  }
  50% {
    right: 100px;
  }
  100% {
    right: 0;
  }
}



#nevar li {
  position: absolute;
  top: -10px;
  animation-name: nieve, copos;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: ease-in;
  z-index: 50;
}

.copos {
  color: #6decff;
  font-size: 1em;
  position: absolute;
  font-size: 50px;
  list-style: none;
}

.copos.c1 {
  font-size: 1.7em;
  left: 30%;
  animation-duration: 25s;
}

.copos.c2 {
  font-size: 1.2em;
  left: 40%;
  animation-duration: 28s;
}

.copos.c3 {
  font-size: 1.1em;
  left: 50%;
  animation-duration: 27s;
}

.copos.c4 {
  font-size: 1.5em;
  left: 60%;
  animation-duration: 25s;
}

.copos.c5 {
  font-size: 1em;
  left: 70%;
  animation-duration: 29s;
}

.copos.c6 {
  font-size: .9em;
  left: 80%;
  animation-duration: 27s;
}

.copos.c7 {
  font-size: 2em;
  right: 90%;
  animation-duration: 22s;
}

.copos.c8 {
  font-size: 1em;
  left: 85%;
  animation-duration: 26s;
}


.copos.c9 {
  font-size: 1.2em;
  left: 10%;
  animation-duration: 25s;
}

.copos.c10 {
  font-size: 1.1em;
  left: 15%;
  animation-duration: 24s;
}

.copos.c11 {
  font-size: 1.5em;
  left: 20%;
  animation-duration: 22s;
}

.copos.c12 {
  font-size: 1em;
  left: 25%;
  animation-duration: 26s;
}

.copos.c13 {
  font-size: .9em;
  left: 35%;
  animation-duration: 24s;
}

.copos.c14 {
  font-size: 2em;
  right: 45%;
  animation-duration: 19s;
}

.copos.c15 {
  font-size: 1em;
  left: 55%;
  animation-duration: 23s;
}

.copos.c16 {
  font-size: 1.7em;
  left: 65%;
  animation-duration: 22s;
}

@keyframes nieve {
  from {
    top: -100px;
  }

  to {
    top: 6000px;
  }
}

@keyframes copos {
  0% {
    transform: rotate(0deg) translate(0px, 0px);
  }

  100% {
    transform: rotate(720deg) translate(0px, 100px);
  }
}
